@tailwind base;
@tailwind components;
@tailwind utilities;


/* إخفاء واجهة ترجمة جوجل */
.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0 !important;
}

.goog-te-gadget .goog-te-combo {
  margin: 0 !important;
}


body {
  top: 0 !important;
}

.goog-te-menu-value {
  display: none !important;
}

.goog-te-menu-frame {
  z-index: 99999 !important;
}
