@tailwind base;
@tailwind components;
@tailwind utilities;


.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

.goog-te-gadget .goog-te-combo {
  margin: 0px !important;
}

.goog-te-menu-frame {
  z-index: 100000 !important;
}

body {
  top: 0px !important;
}
